{% extends "index.html" %}

<!-------------------------------------------------------------------------------------------------------------------------------------------->

{% block content %}
<div class="intro-wrapper">
	<div class="nav-wrapper">
	    <div class="dots-wrapper">
		<div id="dot-1" class="browser-dot"></div>
		<div id="dot-2" class="browser-dot"></div>
		<div id="dot-3" class="browser-dot"></div>
	    </div>
	    <ul id="navigation">
		<!-- <li><a href="#"> <img src="./images-icons/git_icon.png" alt="gitHub"> </a></li> -->
	        <li><a href="/" >ABOUT-ME</a></li>
	        <li><a href="/my-projects" >MY-PROJECTS</a></li>
	       	<li><a href="/my-skills" >MY-SKILLS</a></li>
		<li><a href="mailto:davidagbemuko.ad@gmail.com" target="_blank">GMAIL</a></li>
		<li><a href="https://github.com/Ark-Arch" target="_blank">GITHUB</a></li>
		<li><a href="#">MESSAGE</a></li>
	    </ul>
	</div>
	<div id="myGallery">
		<div class="arrow arrow-left">&lt;</div>
		<div class="gallery">
			<img class="image" src="../static/images/image_1.JPG" alt="Image 1">
			<img class="image" src="../static/images/image_2.JPG" alt="Image 2">
			<img class="image" src="../static/images/image_3.JPG" alt="Image 3">
			<img class="image" src="../static/images/image_4.JPG" alt="Image 4">
			<img class="image" src="../static/images/image_5.JPG" alt="Image 5">
			<img class="image" src="../static/images/image_6.JPG" alt="Image 6">
		 </div>
		 <div class="arrow arrow-right">&gt;</div>
		 <div>This is me teaching secondary schools girls the beauty of robotics!</div>
	</div>
</div>
{% endblock %}
