{% extends "index.html" %}
<!------------------------------------------------------------------------>

{% block right_column %}
<div class="right-column">
	<div class="about-me">
    		<h1> About Me </h1>
    		<p>I am a growing Python Developer with a strong interest in devOps and how the cloud works!</p>
		<p><span>Fun Fact</span>: Based off my background in Mechatronics Engineering, my <span>career end goal</span> is to apply my dev and cloud skills in the world of robotics and machine learning</p>
	</div>
</div>    	
{% endblock %}
