<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>david_agbemuko</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <section class="section-one">
        <div class="main-container"> 
            <div class="greeting-wrapper">
                <h1>Hi, I'm David, I'm a</h1>
		<div class="typewriter-container"><h5 class="typed-out"><span style="color:blue"> growing </span><span style="background-color:yellow">SOFTWARE</span> Developer... </h5></div>                
            </div>
		{% block content %}
		{% endblock %}
        </div>
    </section>
    
    	    <script
			    type="text/javascript"
			    src="{{ url_for('static', filename='scroll.js') }}"
		    ></script>
</body>
</html>
