{% extends "home_page.html" %}

<!--------------------------------------------------------------------------------------------------------->

{% block no_grid %}<div class="intro-wrapper">{%endblock%}

{%block aboutme_link%} <li><a href="/">ABOUT-ME</a></li> {%endblock%}
{%block projects_link%}{%endblock%}
{%block skills_link%}<li><a href="/my-skills" >MY-SKILLS</a></li>{%endblock%}
{%block fun_link %}<li><a href="/fun-gallery" >FUN-PICTURES</a></li>{%endblock%}




{% block project_orbiting %}
<div style="text-align:center"><p>ANOTHER BIG THING ON THE WAY:<br/>I would be writing in a structured format what I have learnt so far in this journey.<br/>Watch out for it!</p></div>

<div class="projects">
    <div class="project">
        <img src="../static/images/project_6_shoe_store.PNG" alt="Project 6" width="400" height="400">
        <div class="project-content">
            <h3><a href="" target="_blank">SHOE STORE APP</a></h3>
        <p>this React application was a so much fun to build!</p><br/>
        <p>In this project, I learnt a lot about the importance and handling of state management in react</p><br/>
        <p>One of the big learnings for me was the different state management methods available for use in react</p><br/>
        <p>I learnt error management, using a loading spinner and much more - THIS WAS FUN AND STRESSFUL... LOL</p><br/>
        <p>Building and deploying the application was also a big learning point for me</p><br/>
        <p>To prevent CORS and mixed content errors, I had to deploy my mock server on vercel</p><br/>
        <p>This application is deployed on firebase</p><br/>
        <p>CLICK <a href="https://shoe-store-mock.web.app" target="_blank">HERE</a> TO BUY YOUR SHOES!&#x1F61C;</p>
        <p>Also, do not be shocked if you keep finding new features for every time you come to it.</p><br/>
        <p>I also built a ci/cd pipeline for it using github workflow</p><br/>
        <p>here is the <a href="https://github.com/Ark-Arch/shoe-store-app" target="_blank">git repo</a></p>
        </div>
    </div>
    <div class="project">
        <img src="../static/images/project_5_company_staff_details.PNG" alt="Project 5" width="400" height="400">
        <div class="project-content">
            <h3><a href="https://ark-arch.github.io/react-api-checkpoint" target="_blank">STAFF DETAILS APP</a></h3>
        <p>this was a simple project i spinned up while learning at gomycode institute</p><br/>
        <p>In this project, i used the axios module to fetch data from a jsonplaceholder database</p><br/>
        <p>One of the big learnings for me was implementing the api fetch functions.</p><br/>
        <p>Another was when I styled the app with bootstrap to include a modal for each of the staff/user</p><br/>
        <p>CLICK <a href="https://ark-arch.github.io/react-api-checkpoint" target="_blank">HERE</a> TO HAVE FUN WITH IT!</p>
        <p> I have it deployed on github pages</p>
        <p>here is the <a href="https://github.com/Ark-Arch/react-api-checkpoint" target="_blank">git repo</a></p>
        </div>
    </div>
    <div class="project">
    <img src="../static/images/project_1_notes_app.PNG" alt="Project 1" width="400" height="400">
    <div class="project-content">
	    <h3><a href="http://3.95.14.158:4001/login" target="_blank">A NOTES TAKING APP</a></h3>
	<p>A safe place to pen down your thoughts and lessons as you like.</p><br/>
	<p>I built this with the flask web framework, and entirely with the vim editor on a Linux environ.</p><br/>
	<p>One of the big learnings for me was understanding and implementing the idea of authentication and authorization using the flask_login module.</p><br/>
	<p>Another one for me was handling and drawing up the database model. And making and taking advantage of relationships along database tables</p><br/>
	<p>CLICK <a href="http://3.95.14.158:4001/login" target="_blank">HERE</a> TO HAVE FUN WITH IT!</p>
	<p> I have it deployed on one of my ec2 instances (Yep!, I am having fun with the cloud as well ;) )</p>
	<p>here is the <a href="https://github.com/Ark-Arch/notes-taking-web-app" target="_blank">git repo</a></p>
    </div>
    </div>
    <div class="project">
        <img src="../static/images/project_2_minesweeper.PNG" alt="Project 2" width="400" height="400">
        <div class="project-content">
            <h3><a href="https://github.com/Ark-Arch/minesweeper-game" target="_blank">MINESWEEPER GAME</a></h3>
            <p>A very fun game to while away your time!</p><br/>
            <p>left-click to click a non-mine, right-click to predict a mine, click a mine to lose!. survive 9 mines to win!</p><br/>
            <p>I built this with simple python and her built in library -> tkinter; with no frameworks</p><br/>
            <p>This one project took me along the bumps and rides of the concept of Object Oriented Programming!</p><br/>
            <p>I got frustrated at some point! (shhhh!! do not tell! :) )</p><br/>
            <p>It is a desktop application with virtually no dependencies. All it needs is python3 installed on your machine</p><br/>
            <p>Click <a href="https://github.com/Ark-Arch/minesweeper-game" target="_blank">here</a> to clone the git repo</p>
        </div>
    </div>
    <div class="project">
        <img src="../static/images/project_3_monsters_rolodex.PNG" alt="Project 3" width="400" height="400">
        <div class="project-content">
            <h3><a href="http://3.95.14.158:4000/" target="_blank" >MONSTER ROLODEX</a></h3>
            <p>This is a react app that simply uses the search function to filter out monsters.</p><br/>
            <p>Clicking on the monsters should show you a bit of description about them. (Although I haven´t fixed that in yet)</p><br/>
            <p>But so far, with this project, I learnt how to think like a react developer</p><br/>
            <p>I also deployed it on my ec2 instance</p><br/>
            <p><a href="http://3.95.14.158:4000/" target="_blank" >HERE</a>, HAVE FUN!</p><br/>
            <p>here is the <a href="https://github.com/Ark-Arch/monsters_rolodex_app" target="_blank" >git repo</a> as well</p>
        </div>
    </div>
    <div class="project">
        <img src="../static/images/project_4_my_portfolio.PNG" alt="Project 4" width="400" height="400">
        <div class="project-content">
            <h3><a href="http://3.95.14.158:5000" target="_blank" >MY PORTFOLIO</a></h3>
            <p>Call it cheating or being cheeky, I worked on this! LOL...</p><br/>
            <p>This is also a flask web app that simply tells about me - David Agbemuko </p><br/>
            <p>The biggest learnings for me was the css animations I had to think through and debug!.</p><br/>
            <p>This was so much fun!</p><br/>
            <p>I have it also deployed on my ec2 instance</p><br/>
            <p>As for a link, well, search no further, you are there!</p>
            <p>here is the <a href="https://github.com/Ark-Arch/my_portfolio" target="_blank" >git repo</a> as well</p>
        </div>
    </div>
</div>
{% endblock %}

<!--
<div id="orbitContainer">
	<div class= "left-column">
		<div class="orbit">
		    <div class="project" style="transform: rotate(0deg);">
			<img src="project1.jpg" alt="Project 1">
		    </div>
		    <div class="project" style="transform: rotate(120deg);">
			<img src="project2.jpg" alt="Project 2">
		    </div>
		    <div class="project" style="transform: rotate(240deg);">
			<img src="project3.jpg" alt="Project 3">
		    </div>
		</div>
	</div>
	
	<div class="description">
	    <h2>Project 1</h2>
	    <p>Description of Project 1</p>
	</div>
</div>
-->


