{% extends "index.html" %}

<!--------------------------------------------------------------------------------------------------------->

{% block right_column %}
<div class="right-column">
    <div id="project-orbit">
	<div id="project-one">student-management(django and react)</div>
	<div id="project-two">monster-rolodex (udemy)</div>
	<div id="project-three">ctDigital</div>
	<div id="project-four">this portfolio</div>
    </div>
    <button>click-me</button>
    <div id="project-preview">
	<h3 id="preview-name">About Project</h3>
	<p id="preview-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, distinctio voluptatem velit nihil repudiandae totam illum. Ipsum eos, perferendis, quam provident </p>
    </div>
</div>
{% endblock %}
