@keyframes typing{
    from {width: 0}
    to {width: 100%}
}

@keyframes blink {
	0%, 49% {
		opacity: 2;
	}
	50%, 100% {
		opacity: 0;
	}
}

:root{
    --mainColor:#eaeaea;
    --secondaryColor: #fff;

    --border:1px solid #c1c1c1;

    --mainText: black;
    --secondaryText:#4b5156;

    --themeDotBorder: #24292e;

    --projectpreviewbg: rgb(253, 249, 243, 0 )
}

html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul{
    list-style: none;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

.section-one{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.section-two{
    background-color: var(--secondaryColor);
    border-bottom: var(--border);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;

    margin: 0px;
    padding: 0px;
}

.greeting-wrapper>h1{
    padding: 0px;
    margin: 0px;
}



/* THIS IS THE TYPING EFFECT CODE */
.typewriter-container{
    width: 410px;
    margin: 0 auto;
}
.typed-out{
    padding: 0px;
    margin: 0px;

    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid orange;
    font-size: 1.6rem;
    width: 0px;

    animation:
        typing 2s steps(20, end) forwards;

}

.type-skills {
    padding: 0px;
    margin: 0px;

    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
    width: 0px;

    animation:
        typing 4s steps(20, end) forwards;

}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: var(--border);
    border-radius: 5px 5px 0 0;


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

.intro-wrapper-2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ; 

}

.nav-wrapper{
    border-radius: 5px 5px 0 0;

    grid-area: nav-wrapper;
    border-bottom: var(border);

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation{
    margin: 0;
    padding: 10px;
    
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: #fc6058;
}
#dot-2{
    background-color: #fce02f;
}
#dot-3{
    background-color: #2aca3e;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
    
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}




.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}


#profile_pic{
    display: block;
    margin: 0px auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: var(--border);
    border-width: 2px;
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;
}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78966b;
}

#purple-mode{
    background-color: #7e4c74;
}

#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area: right-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
	background-color: #f8f9fa;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
	max-width: 500px;
	height:300px;
	margin: 0 auto;
	padding: 20px;
	
	overflow-x: scroll;
	white-space:nowrap;
	
	position:relative;
	}
	
.container h2 {
	text-align:center;
	margin-bottom:20px;
	
	position: sticky;
	top: 0;
	z-index: 1;
	
	width: 100%;
}

.category {
	margin-bottom: 10px;
}

.category h3 {
	margin-bottom:5px;
	font-size:1.2em;
	color: #333;
	text-decoration:underline;
}

.skills {
	display:flex;
	flex-wrap:wrap;
	gap: 10px;
}

.skill {
	padding: 5px 10px;
	background-color: #f1f1f1;
	border-radius: 5px;
	white-space:nowrap;
}

.about-me {
	max-width: 500px;
	padding:20px;
	background-color: #f8f9fa;
	text-align:center;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.blink {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: Infinite;
	background-color: yellow;
}

.button-pages{
	display: inline-block;
	padding: 10px 20px;
	margin: 10px;
	background-color: green/*#007bff*/;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
}

#myGallery {
	max-width: 800px;
	margin: auto auto;
	padding: 20px;
	/*border: 1px solid #ccc;*/
	overflow: hidden;
	position: relative;
	
}

#myGallery .gallery {
	display:flex;
	overflow-x:auto;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

#myGallery .image {
	flex: 0 0 auto;
	width: 800px;
	height: 370px;
	scroll-snap-align: start;
}

#myGallery .arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2em;
	color: white;
	background-color: rgba(0,0,0,0.5);
	padding: 0.5em;
	cursor:pointer;
	z-index:1;
}

#myGallery .arrow-left {
	left: 0;
}

#myGallery .arrow-right {
	right: 0;
}

#project-preview{
    width: 300px;
    border: 1.5 solid #17a2b8;
    background-color: var(--projectpreviewbg );
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }   
}
